* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.HomePage {
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: white;
    font-size: 70px;
    
}

.about {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about h1{
    color:white;
    font-size: 70px;
}

.description {
    font-family: monospace;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.description h2{
    color: white;
    font-size: 30px;
}

.adis {
    font-family: monospace;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.adis h2{
    color: white;
    font-size: 30px;
}

.button {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Homebtn {
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}
